<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DairyProject"
        tools:targetApi="31">
        <activity
            android:name=".ViewAllTheEventsActivity"
            android:exported="false" />
        <activity
            android:name=".View_all_milk_details"
            android:exported="false" />
        <activity
            android:name=".HomeTocRecs"
            android:exported="false" />
        <activity
            android:name=".ViewAllCattleDetails"
            android:exported="false" />
        <activity
            android:name=".Home_Reports"
            android:exported="false" />
        <activity
            android:name=".View_Feed_Program"
            android:exported="false" />
        <activity
            android:name=".Welcome_navToReports"
            android:exported="false" />
        <activity
            android:name=".WelcomeFprogram"
            android:exported="false" />
        <activity
            android:name=".AddFeedingProgram"
            android:exported="false" />
        <activity
            android:name=".ViewEventsActivity"
            android:exported="false" />
        <activity
            android:name=".AddEvents"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".EventsActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Cattle_Control"
            android:exported="false" />
        <activity
            android:name=".ControlActivity"
            android:exported="false"
            android:label="@string/title_activity_control" />
        <activity
            android:name=".TestPage"
            android:exported="false" />
        <activity
            android:name=".Display_Test"
            android:exported="false" />
        <activity
            android:name=".Milk_details"
            android:exported="false" />
        <activity
            android:name=".Display_milk"
            android:exported="false" />
        <activity
            android:name=".DRecords"
            android:exported="false" />
        <activity
            android:name=".CRecords"
            android:exported="false" />
        <activity
            android:name=".cRecords"
            android:exported="false" />
        <activity
            android:name=".Display_cattle"
            android:exported="false" />
        <activity
            android:name=".cattleDetails"
            android:exported="false" />
        <activity
            android:name=".addCattleDetails"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>